{extend name='base'/}
{block name="content"}
    <div>

        <ul class="nav nav-tabs" role="tablist">

            <li class="active">
                <a href="javascript:;">报名列表</a>
            </li>
            <!--<li>-->
                <!--<a href="{:url('admin/Position/add')}">添加职位</a>-->
            <!--</li>-->
        </ul>
            <div class="panel panel-default">
                <!--<div class="panel-heading">-->
                    <!--这里提供了能够显示的导航菜单, 你可以选择性的自定义或显示隐藏, 所有操作更改后需要点击保存按钮才有效。-->
                <!--</div>-->
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="60">编号</th>
                            <th width="100">姓名</th>
                            <th width="50">性别</th>
                            <th width="180">身份证号</th>
                            <th width="50">民族</th>
                            <th width="150">出生年月日</th>
                            <!--<th width="90">政治面貌</th>-->
                            <th width="180">毕业院校及专业</th>
                            <!--<th width="150">毕业年月<th>-->
                            <!--<th>录取通知书寄达地址</th>-->
                            <th>手机号</th>
                            <!--<th>文化程度</th>-->
                            <th>报考专业</th>
                            <!--<th>考试地点</th>-->
                            <th>报名费用</th>
                            <th>缴费状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="list" id="vo"}
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.sex}</td>
                                <td>{$vo.id_number}</td>
                                <td>{$vo.nation}</td>
                                <td>{$vo.birthy}</td>
                                <!--<td>{$vo.political}</td>-->
                                <td>{$vo.university}</td>
                                <!--<td>{$vo.graduation_date}</td>-->
                                <!--<td>{$vo.mailing_address}</td>-->
                                <td>{$vo.phone}</td>
                                <!--<td>{$vo.working_unit}</td>-->
                                <!--<td>{$vo.education}</td>-->
                                <td>{$vo.major}</td>
                                <td>{$vo.charge}</td>
                                <td>{$vo.charge_status}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" href="{:url('admin/StudentList/edit',['id'=>$vo.id])}" style="margin-right: 15px;">
                                            编辑
                                        </a>
                                        <a class="btn btn-default" href="{:url('admin/StudentList/preview',['id'=>$vo.id])}" style="margin-right: 15px;">
                                            查看
                                        </a>
                                        <!--<a href="javascript:;" class="btn btn-default">删除</a>-->
                                    </div>
                                </td>
                            </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--<button type="submit" class="btn btn-default">保存修改</button>-->
        <script>
            require(['hdjs'],function(hdjs){
                hdjs.bootstrapswitch('.bootstrap-switch');
            })
        </script>
    </div>
{/block}