{extend name='base'/}
{block name="content"}
<div>

    <ul class="nav nav-tabs" role="tablist">

        <li>
            <a href="{:url('admin/StudentList/index')}">报名列表</a>
        </li>
        <li class="active">
            <a href="javascript:;">预览信息</a>
        </li>
    </ul>
    <form id="navigate" class="form-horizontal">
        <!--<input type="hidden" name="csrf_token" value="547d8d197baef66f188c2f3d329a85d8">-->
        <div class="panel panel-default">
            <div class="panel-heading">
                学生信息
            </div>
            <!--<a href="{:url('admin/StudentList/createpdf')}">报名列表</a>-->
            <div class="panel-body" style="margin:20px">
                <div class="user_info_table">
                    <h3 style="text-align: center;width:1000px;margin-bottom: 20px;">2018年成人高考报名信息表</h3>
                    <div class="table_body">
                        <div class="info_row">
                            <div class="info_row_title">姓名：</div>
                            <div class="info_row_val">{$user_info.name}</div>
                            <div class="info_row_title" style="width:150px;">性别：</div>
                            <div class="info_row_val" style="width:150px;">{$user_info.sex}</div>
                            <div class="info_row_title">民族：</div>
                            <div class="info_row_val" style="width:190px">{$user_info.nation}</div>
                        </div>

                        <div class="info_row">
                            <div class="info_row_title">身份证号：</div>
                            <div class="info_row_val" style="width:500px;">{$user_info.id_number}</div>
                            <div class="info_row_title">文化程度：</div>
                            <div class="info_row_val" style="width:190px">{$user_info.education}</div>
                        </div>

                        <div class="info_row">
                            <div class="info_row_title">出生年月日：</div>
                            <div class="info_row_val" style="width:500px;">{$user_info.birthy}</div>
                            <div class="info_row_title">政治面貌：</div>
                            <div class="info_row_val" style="width:190px">{$user_info.political}</div>
                        </div>

                        <div class="info_row">
                            <div class="info_row_title">毕业院校及专业：</div>
                            <div class="info_row_val" style="width:500px;">{$user_info.university}</div>
                            <div class="info_row_title">毕业年月：</div>
                            <div class="info_row_val" style="width:190px">{$user_info.graduation_date}</div>
                        </div>

                        <div class="info_row">
                            <div class="info_row_title">录取通知书寄达地址：</div>
                            <div class="info_row_val" style="width:500px;">{$user_info.mailing_address}</div>
                            <!--<div class="info_row_title">民族：</div>-->
                            <!--<div class="info_row_val">黄小明</div>-->
                        </div>

                        <div class="info_row">
                            <div class="info_row_title">联系电话：</div><div class="info_row_val">{$user_info.phone}</div>
                            <div class="info_row_title" style="min-width:100px;">邮政编码：</div><div class="info_row_val" style="width:150px;">{$user_info.postal_code}</div>
                            <div class="info_row_title">QQ号码：</div><div class="info_row_val" style="width:190px">{$user_info.qq}</div>
                        </div>

                        <div class="info_row">
                            <div class="info_row_title">其他联系电话：</div>
                            <div class="info_row_val" style="width:200px;">{$user_info.other_phone}</div>
                            <div class="info_row_title">现工作单位：</div>
                            <div class="info_row_val" style="width:498px;">{$user_info.working_unit}</div>
                            <!--<div class="info_row_title">民族：</div>-->
                            <!--<div class="info_row_val">黄小明</div>-->
                        </div>

                        <div class="info_row">
                            <div class="info_row_title">报考院校：</div><div class="info_row_val">{$user_info.school}</div>
                            <div class="info_row_title" style="min-width:100px;">报考专业：</div><div class="info_row_val">{$user_info.major}</div>
                            <!--<div class="info_row_title">招生类别：</div><div class="info_row_val" style="width:190px">统一考试</div>-->
                        </div>

                        <div class="info_row"  style="height:72px;">
                            <div class="info_row_title group_title" style="height:72px;text-align: center;padding-top: 5px;line-height:30px">家庭主要成员及社会关系</div>
                            <div class="group_body" style="height:72px;">
                                <div class="group_body_row">
                                    <div style="width:201px;">姓名</div>
                                    <div style="width:149px;">与本人关系</div>
                                    <div style="width:300px;">工作单位</div>
                                    <div style="width:198px;border-right: none">联系电话</div>
                                </div>

                                <div class="group_body_row">
                                    <div style="width:201px;">{$user_info.family_member[0]}</div>
                                    <div style="width:149px;">{$user_info.family_member[1]}</div>
                                    <div style="width:300px;">{$user_info.family_member[2]}</div>
                                    <div style="width:198px;border-right: none">{$user_info.family_member[3]}</div>
                                </div>

                            </div>

                        </div>

                        <div class="info_row" style="text-align: center;border-left: 1px solid #666;line-height: 40px;">本人简历</div>
                        <div class="info_row">
                            <div class="info_row_title" style="width:350px;text-align: center;">起始年月</div>
                            <div class="info_row_val" style="width:649px;text-align: center;">在何校何地学习工作</div>
                        </div>

                        <div class="info_row">
                            <div class="info_row_title" style="width:350px;text-align: center;">{$user_info.resume_1[0]}</div>
                            <div class="info_row_val" style="width:649px;text-align: center;">{$user_info.resume_1[1]}</div>
                        </div>
                        <div class="info_row">
                            <div class="info_row_title" style="width:350px;text-align: center;">{$user_info.resume_2[0]}</div>
                            <div class="info_row_val" style="width:649px;text-align: center;">{$user_info.resume_2[1]}</div>
                        </div>

                        <!--<div class="info_row">-->
                            <!--<div class="info_row_title">考试地点：</div>-->
                            <!--<div class="info_row_val" style="width:500px;">广西南宁市广西民族大学</div>-->
                        <!--</div>-->

                        <!--<div class="info_row">-->
                            <!--<div class="info_row_title">缴费金额（元）：</div><div class="info_row_val">100</div>-->
                            <!--<div class="info_row_title" style="min-width:100px;">缴费状态：</div><div class="info_row_val">未缴费</div>-->
                            <!--&lt;!&ndash;<div class="info_row_title">招生类别：</div><div class="info_row_val" style="width:190px">统一考试</div>&ndash;&gt;-->
                        <!--</div>-->
                        <div class="info_row">
                            <div class="info_row_title">报考金额：</div>
                            <div class="info_row_val" style="width:199px;">{$user_info.charge}</div>
                            <div class="info_row_title" style="width:150px;">缴费状态：</div>
                            <div class="info_row_val" style="width:150px;">{$user_info.charge_status}</div>
                            <div class="info_row_title">时间：</div>
                            <div class="info_row_val" style="width:190px">{$user_info.date}</div>
                        </div>

                        <div class="info_row">
                            <div class="info_row_title">成人高考地点：</div><div class="info_row_val" style="width:199px;">{$user_info.test_site}</div>
                            <div class="info_row_title" style="min-width:100px;">备注：</div>{$user_info.remarks}</div>
                            <!--<div class="info_row_title">招生类别：</div><div class="info_row_val" style="width:190px">统一考试</div>-->
                        </div>

                        <!--<div class="info_row">-->
                            <!--<div class="info_row_title">备注：</div>-->
                            <!--<div class="info_row_val" style="width:500px;"></div>-->
                        <!--</div>-->

                    </div>
                </div>
            </div>
        </div>
    </form>
    <style>
        .user_info_table{
            width: 1200px;
            overflow: hidden;
            padding:20px 0 300px 30px;
        }
        .table_body{
            width: 1000px;
            font-size:16px;
            /*margin: 20px 0;*/
            /*border:1px solid #666;*/
        }
        .info_row{
            width: 100%;
            height: 36px;
            border-top: 1px solid #666;
            border-bottom: 1px solid #666;
            border-right: 1px solid #666;
            overflow: hidden;
            margin-top: -1px;
        }
        .info_row > div{
            float: left;
            height: 36px;
            line-height: 36px;
        }
        .info_row_title{
            width: 150px;
            text-align: right;
            float: left;
            border-left: 1px solid #666;
            border-right: 1px solid #666;
        }
        .info_row_val{
            width:200px ;
            text-indent: 6px;
            box-sizing: border-box;
        }

        .info_row_title.group_title{
            width: 150px;
            height: 100px;
        }
        .group_body{
            width: 849px;
            height: 120px;
            overflow: hidden;
            float: left;
        }
        .group_body .group_body_row{
            width: 100%;
            height: 36px;
            border-bottom: 1px solid #666;
        }
        .group_body .group_body_row > div{
            width: 25%;
            height: 36px;
            float: left;
            line-height: 36px;
            border-right: 1px solid #666;
            text-align: center;
        }
    </style>
    <!--<button type="submit" class="btn btn-default">保存修改</button>-->
    <script>
        require(['hdjs'],function(hdjs){
            hdjs.bootstrapswitch('.bootstrap-switch');
        })
    </script>
</div>
{/block}